body.blue {
    background-color: #ffffff;
}

#container {
    display: none;
    transition: opacity 800ms;
    background: white;
    z-index: -1;
}

#container > .wrapper {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    background: white;
    padding: 5px 10px;
}

#container.active {
    display: initial;
    z-index: 1000;
}

#menu-container {
    display: none;
    width: 100%;
    text-align: right;
    overflow-y:scroll;
    overflow-x:hidden;
    margin: 0;
}

#menu-container.active {
    display: block;
}

.menu-item {
    background: #ffffff;
    display: inline-block;
    color: black;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 3px;
    transform: scale(0.95);
    transition: all 400ms;
}

.menu-item:hover {
    cursor: pointer;
    transform: scale(1);
}

.menu-item:hover .title {
    text-decoration: underline;
}

.menu-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    max-width: 500px;
    border-radius: 5px;
}
.menu-item > div {
    text-align: left;
}


.menu-item .title {
    font-weight: bold;
    font-size: 24px;
    height: 60px;
}

.menu-item .description {
    height: 200px;
    overflow: hidden;
}
body {
    font-family: 'Roboto';
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .005em;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: bold;
    line-height: 50px;
}

#container img {
    display: block;
    width: 90%;
    margin: 0 auto;
}








/*MENU BUTTON=======================================================*/
#liqued-button {
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 1000;
}

#menu-button:hover {
    cursor: pointer;
}


/*BALL*/
.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}

.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
}

.ball.plain {
    background: black;
}

.ball.plain:before, .ball.plain:after {
    display: none;
}

.ball.bubble {
    /*background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));*/
    /*background-image: url("./images/jan.jpeg");*/
    background-size: contain;
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;
}

.ball.bubble > #jan-button {
    transition: opacity 800ms;
    border-radius: 50%;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.ball.bubble:hover #jan-button {
    opacity: 0.9;
}

#jan-button.active {
    opacity: 0.9 !important;
}

#liqued-button.hidden {
    display: none;
}

.ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}

.ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}

.stage {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}


@-webkit-keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98);
    }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98);
    }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.jan {
    background: url("./images/jan.jpeg");
}


span.code {
    font-family: 'Courier New', monospace;
    background: #dcdcdc;
    border-radius: 5px;
    border: 1px rgb(197, 197, 197) solid;
    font-style: initial;
}

#author-info-container {
    background: #eaffd6;
}

#author-info-container p {
    font-family: 'Roboto', sans-serif !important;
}

#author-info-container a  {
    text-decoration: none;
    color: #393939;
    background: #f8f8f8;
}

#author-info-container a:hover {
    cursor: pointer;
}

#author-info-container a >img {
    width: 14px;
    display: inline-block;
    margin: auto 2px;
}


div.divider {
    display: block;
    margin: 50px auto;
    text-align: center;
    letter-spacing: 15px;
}

#container p {
    white-space: break-spaces;
}

#container p.dialogue {
    white-space: normal !important;
}

#container p.dialogue > span {
    font-style: italic;
    padding: 10px 5%;
    margin: 15px 0;
    display: block;
    width: fit-content;
    border-radius: 10px 60px 10px 60px;
}

#container p.dialogue .dialogue-1 {
    background-color: #eafde5;

}

#container p.dialogue .dialogue-2 {
    background-color: #fff7e8;
}

.linkedin {
    overflow: hidden;
}
.linkedin > iframe {
    width: 500px;
    height: 760px;
}


#container span.bold {
    font-weight: bold;
}


#container span.italic {
    font-style: italic;
}


#container p.quote {
    font-size: 26px;
    font-weight: 100;
    color: #6B6B6B;
    max-width: 700px;
    text-align: left;
    margin: 20px auto;
    letter-spacing: 1px;
    line-height: 40px;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px!important;
}


.other-link {
    display: inline-block;
    background-color: #fffecb;
    border-radius: 10px;
    border: 1px solid;
    height: 80px;
    overflow: hidden;
}

.other-link img {
    width: 110px !important;
    height: 80px !important;
    object-fit: cover;
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 5px;
}

.other-link a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #414040;
    font-size: 110%;
    font-weight: 700;
    text-transform: uppercase;
}


.left-section {
    display: inline-block;
    background: #fffffff0;
    width: 300px;
    vertical-align: top;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

}

@media (max-width: 700px) {
    .left-section {
        display: none;
    }

    .right-section {
        left: 10px !important;
    }

    .banner {
        left: 0 !important;
    }
}

.right-section {
    display: inline-block;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    position: absolute;
    left: 350px;
    top: 150px;
}

.left-section .avatar {
    border-radius: 50%;
    width: 120px;
    margin: 50px auto 10px auto;
    display: block;
}

.left-section .name {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.left-section .title {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #595959;
    margin: 0;
}

.feed-item {
    display: block;
    background: white;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 15px 0;
}

.feed-item:hover {
    cursor: pointer;
}


.author {
    margin: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.author img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.author .name {
    color: black;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
}

.feed-item .date {
    color: #737070;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.feed-item .cover {
    width: 100%;
    display: inline-block;
    height: 350px;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 0 0 5px 5px;
}

.feed-item .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px;
}

.feed-item .description {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.tech-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    z-index: -1;
    background-size: cover;
}

.banner {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    z-index: 1;
    height: 100px;
    background: url(/images/bg.jpg);
    text-align: center;
    font-size: 30px;
    display: grid;
    place-items: center;
    color: white;
    font-family: cursive;
    background-position: top;
    background-size: cover;
    opacity: 97%;
    border: 1px solid white;
}

.feed-item .actions {
    display: block;
    background: white;
    width: 100%;
    text-align: right;
}

.feed-item .actions .read {
    display: inline-block;
    vertical-align: middle;
    /* background: #2d9307; */
    color: black;
    font-size: 20px;
    padding: 6px;
    margin: 10px;
    text-decoration: none;
    border-radius: 6px;
    font-style: italic;
    font-weight: bold;
    border: 1px solid;

}

.namedate {
    display: flex;
    flex-direction: column;
}

.tech-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}